html, body {

    background-color: aliceblue;
    margin: 0;
    padding: 0;
    height: 100%;

}

* {

    box-sizing: border-box;
    user-select: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#desktop {

    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    border: 0.5vmin solid black;
    box-shadow: 0.8vmin 0.8vmin 2.4vmin 0vmin rgba(66, 68, 90, 1);
    background-image: url("imgs/desktop.png");
    background-size: cover;

}

.ad {

    background-color: aliceblue;
    position: fixed;
    width: 25%;
    height: 25%;
    border: 0.3vmin solid black;
    animation: popup 0.2s ease-in-out;
    display: flex;
    justify-content: flex-end;
    background-size: cover;

}

@keyframes popup {
    0% {
        scale: 1;
        rotate: 0deg;
    }
    25% {
        rotate: 10deg;
    }
    50% {
        scale: 1.05;
    }
    75% {
        rotate: -10deg;
    }
    100% {
        scale: 1;
    }
}

.ad > div {

    background-image: url("imgs/cross.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: tomato;
    border: 0.3vmin solid black;
    transition: 0.1s ease-in-out;

}

.ad > div:hover {

    background-color: red;
    transition: 0.2s ease-in-out;

}

.closeButton1 {

    margin: -0.9%;
    width: 2vmin;
    height: 2vmin;

}

.closeButton2 {

    margin: -0.9%;
    width: 3vmin;
    height: 3vmin;

}

.closeButton3 {

    margin: -0.9%;
    width: 4vmin;
    height: 4vmin;

}

.closeButton4 {

    margin: -0.9%;
    width: 5vmin;
    height: 5vmin;

}

.closeButton5 {

    margin: -0.9%;
    width: 6vmin;
    height: 6vmin;

}

.closeAd {

    transform: scaleY(1%);
    transition: 0.1s ease-in-out;

}

#currencyDisplay {

    position: fixed;
    font-size: 3vmin;
    top: 10vh;
    left: 50%;
    transform: translate(-50%, -50%);

}

#upgrades {

    position: fixed;
    background-color: lightskyblue;
    margin: 1vh;
    padding: 1vmin;
    height: 98vh;
    width: 17vw;
    z-index: 1;

}

#upgrades > div {

    background-color:aliceblue;
    margin-bottom: 1vmin;
    padding: 1vmin;
    display: flex;
    max-height: 5.5vmax;
    transition: 0.1s ease-in-out;

}

#upgrades > div:hover {

    scale: 1.03;
    transition: 0.1s ease-in-out;

}

.popup {

    position: fixed;
    top: 0vh;
    left: 16.5vw;
    width: max-content;
    max-width: 15vw;
    background-color: lightskyblue;
    box-shadow: 0.4vmin 0.4vmin 1.2vmin 0vmin rgba(66, 68, 90, 0.5);
    visibility: hidden;

}

#upgrades > div:hover .popup {

    visibility: visible;

}

#upgrades .hidden {

    display: none;

}

#upgrades .bought.bought {

    background-color: lightgreen;
    scale: 1;
    transition: 0.1s ease-in-out;

}

#upgrades .notBought.notBought {

    background-color: tomato;
    scale: 1;
    transition: 0.1s ease-in-out;

}

#upgrades div h2 {

    font-size: 1vw;
    width: 10vw;
    padding-top: 0.5vw;
    padding-left: 0.5vw;
    margin: 0vw;

}

#upgrades div p {

    font-size: 0.8vw;
    padding: 0.5vw;
    margin: 0vw;

}

#upgrades div img {

    width: 2vw;
    height: 2vw;
    margin: 1.3vw;

}

#adExeUI {

    position: fixed;
    left: 82vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 8vw;
    height: 50vh;
    transition: 0.5s ease-in-out;
    
}

#chargeBar {

    width: 8vw;
    height: 40vh;
    background-color: rgba(66, 68, 90, 1);
    border: 0.5vmin solid black;
    box-shadow: 0.8vmin 0.8vmin 2.4vmin 0vmin rgba(66, 68, 90, 1);
    display: flex;
    align-items: flex-end;

}

#chargeMeter {

    width: 8vw;
    height: 0%;
    background-color: lightgreen;

}

button {

    width: 8vw;
    height: 5vh;
    background-color: rgba(66, 68, 90, 1);
    border: 0.5vmin solid black;
    box-shadow: 0.8vmin 0.8vmin 2.4vmin 0vmin rgba(66, 68, 90, 1);
    font-size: 3vmin;
    font-weight: bold;
    transition: 0.1s ease-in-out;

}

button:hover {

    scale: 1.05;
    transition: 0.1s ease-in-out;

}

button:active {

    background-color: tomato;
    scale: 1;
    transition: 0s ease-in-out;

}
